@CHARSET "UTF-8";

html,body {
	height: 100%;
	width: 100%;
	font-family:arial;
	/*font: 12px sans-serif;*/
	margin: 0;
    background-color: #FCFCFC;
}

#container {
	width: 100%;
    min-height:100%;
	text-align: center;
    position:relative;
}

#filtro{
	width: 100%;
    min-height:100%;
	height: 600px;
    position:relative;
	padding: 0 0;
	color: #131B39;
	text-align: center;
	font-family:arial;
	font-size: 18px;
    left: 26px;
}

/* #menu {
	background-color: #F5F5F5;
	padding: 0 0;
	margin: 0px;
	color: #6495ED;
	font-size: 1.75em;
	height: 40px;
	position: center;
} */

#opcao {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color: #F5F5F5;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:table;
	color:#777777;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}.classname:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}.classname:active {
	position:relative;
	top:1px;
}

#title_header {
	background-color: #DEDEDE;
	padding: 0 0;
	margin: 0px;
	color: #6495ED;
	font-size: 2.75em;
	height: 50px;
	position: center;
}

#footer{
	background-color: #D3D3D3;
	padding: 0 0;
	margin: 0px;
	color: #6495ED;
	font-size: 1.5em;
	height: 70px;
    bottom:0;
    width:100%;
    position:absolute;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
